*
{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

a
{
	text-decoration: none;
}

ul
{
	list-style: none;
}

body
{
	margin: 0;
	padding: 0;
}

#blog
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 60px;
	margin-right:  200px;
}

.blog-heading
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.blog-heading .txt
{
	font-family: KaiTi;

}

.blog-heading h1
{
	font-family: Palatino Linotype, serif;
	color: black;
	

}
.blog-container
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin : 20px 0px;
	flex-wrap: wrap;
}

.blog-box
{
	width: 300px;
	background-color: white;
	border: 1px solid #ececec;
	margin: 30px;
}

.blog-img
{
	width: 80%;
	height: auto;
}


.blog-img img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	margin-left: 35px;
}

.blog-text
{
	padding: 30px;
	display: flex;
	flex-direction: column;
}

.blog-text span
{
	color: black;
	font-size: 20px;
}

.blog-text p
{
	color: #9b9b9b;
	font-size: 15px;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 20px 0px;
}

.blog-text a
{
	color: #0f0f0f;
}

.blog-text a:hover
{
	color: red;
	transition: all ease 0.3s;
}