*{
	padding: 0;
	margin: 0;
}

body
{
	
	font-family: sans-serif;
}

.section
{
	background-color: antiquewhite;
	height: 400px;
	display: flex;
	justify-content: space-between;
	padding: 40px;
	width: 65%;
	margin: 10rem auto 0 auto;
}

.section .text
{
	margin-right: -40px;
	margin-top:  -30px;
	
}
.section img
{
	height: 310px;
	padding-bottom: 50px;
	margin-left: 80px;
	
}
.section h5
{
	
	color: black;
}
.section p
{
	margin-top: 12px;
	color: black;
	margin-right: 10px;
	text-align: justify;
}

.section .pp
{
	margin-top: 0px;
	color: black;
	margin-right: 10px;
	text-align: justify;
}


.section button
{
	border-radius: 4px;
	padding-left: 4px;
	padding-right: 4px;
	border: 2px solid black;
	background-color: #f4f0ec;
}

.section button:hover
{
	border: 2px solid black;
	background-color: #c4c3d0;
}


